* {
  padding: 0;
  margin: 0;

}

html,
body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.header-logo {
  display: flex;
  align-items: center;
}

#small-circle-logo {
  height: 100px;
}

#medium-text-logo {
  height: 100px;
}

header,
aside,
main,
footer {
  border: 2px solid blue;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

body {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 100%;

}

.aside-and-main {
  display: flex;
  flex-direction: row;
  flex: 1;
  text-align: center;
}

/* aside {

} */

.search-frame {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 100px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85%;
}

#results-container {
  display: flex;
  flex-wrap: wrap;
  margin: 15px;
}

.return-animal-container {
  flex: 1 0 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* padding: 15px; */
}

.return-animal-container,
.return-animal-container p {
  border: 1px solid black;
}

#results-container img {
  width: 180px;
  padding: 15px;
}

footer {
  text-align: center;
}