* {
  padding: 0;
  margin: 0;
  font-family: 'Raleway', 'Helvetica', sans-serif;
}

html,
body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: lightgray;
}

header {
  background-color: #fb5607;
  border: 4px solid #3A86FF;
}

.header-logo {
  display: flex;
  align-items: center;
  margin-left: 11px;
  background-color: #3A86FF;
  padding: 10px;
  border-radius: 100%;
}

#small-circle-logo {
  height: 100px;
}

#medium-text-logo {
  height: 100px;
  background-color: #3A86FF;
  padding: 10px;
  border-radius: 10px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
}

body {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 100%;

}

.aside-and-main {
  display: flex;
  flex-direction: row;
  flex: 1;
  text-align: center;
}

aside {
  background-color: #fb5607;
  flex: 1 1 0;
  border-radius: 0 10px 10px 0;
}

.search-frame {  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 100px;
}

#search-input {
  max-width: 145px;
  margin: 10px;
  padding: 5px;
  border-radius: 10px;
  text-align: center;
  background-color: lightgray;
}

input {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  
}

label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  
}

select {
  margin-bottom: 10px;
  margin-top: 10px;
  /* appearance: none; */
  width: 150px;
  border-radius: 5px;
  text-align: center;
  background-color: lightgray;
  padding: 3px;
}

.search-criteria {
  display: flex;
  flex-direction: column;
}

.search-buttons {
  padding: 10px;
  font-weight: 700;
  background-color: #3A86FF;
  border-radius: 10px;
}

main {
  display: flex;
  flex: 6 1 auto;
  align-items: center;
  justify-content: center;
  background-color: lightgray;
  flex-direction: column;
}

#main-starting-content {
  background-color: #3A86FF;
  padding: 25px;
  border-radius: 10px;
}

#main-starting-logo {
  max-width: 600px;
  margin: 25px;
  background-color: #fb5607;
  padding: 25px;
  border-radius: 10px;
}

#results-container {
  display: flex;
  flex-wrap: wrap;
  margin: 15px;
  gap: 15px;
  justify-content: center;
}

.return-animal-container {
  flex: 1 0 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* padding: 15px; */
}

.return-animal-container,
.return-animal-container p {
  border: 1px solid black;
}

#results-container img {
  max-width: 180px;
  max-height: 180px;
  padding: 15px;
}

.all-animal-text {
  width: 100%;

}

.name-text {
  font-weight: 600;
  font-size: 1.5em;
  padding: 3px;
}

/* .result-bottom-div {
  align-self: flex-end;
} */

footer {
  text-align: center;
  background-color: #3A86FF;
  padding: 15px;
}

.fa-arrow-up-right-from-square {
  transform: scale(0.5);
}